* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-font: 'Lato', Nunito, 'Josefin Sans';
    --primary-font: Nunito, 'Josefin Sans', Lato;
    --secondary-font: 'Josefin Sans', Nunito, Lato;
    --primary-color: #002E5D;
    --accent-color: #0073CF;
}

header h1 {
    font-family: var(--main-font);
    text-align: center;
    background-color: var(--primary-color);
    color: #fff;
    padding: 15px;
    font-size: 1.5rem;
}

nav {
    display: flex;
    align-items: center;
    padding: 15px;
    flex-direction: column;
}

nav a {
    display: block;
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--primary-color);
    font-family: var(--primary-font);
    padding: 10px;
    transform-origin: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

nav a:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.welcome img {
    width: 100vw;
}

.welcome-msg {
    position: relative;
    bottom: 15rem;
    text-align: center;
    background-color: #00000062;
    color: #fff;
    padding: 20px;
}

.welcome-msg h2 {
    padding-bottom: 10px;
    font-family: var(--secondary-font);
    font-size: 1.7rem;
}

.welcome-msg p {
    font-family: var(--primary-font);
    padding-bottom: 10px;
}

.welcome-msg button {
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-family: var(--main-font);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.758);
}

.welcome-msg button:hover {
    background-color: #000000;
    transition: 0.6s;
    color: #fff;
    cursor: pointer;
    
}

#announcements {
     margin-left: 20px;
}

#announcements h2 {
    font-family: var(--main-font);
    margin-top: -10rem;
    padding: 10px 0;
    font-size: 1.8rem;
}

#announcements li {
    padding: 6px 0;
    font-family: var(--primary-font);
    list-style-type: none;
    font-size: 1.2rem;
}

#testimonials {
    background-color: rgb(177, 174, 174);
    margin: 20px 0;
    padding: 20px;
}

body.dark-mode #testimonials {
    color: #000;
}

#testimonials h2, #quiz h2 {
    font-family: var(--main-font);
    padding: 0 0 20px;
    font-size: 1.8rem;
}

#testimonials blockquote {
    font-family: var(--secondary-font);
    padding: 8px;
    font-size: 1.1rem;
}

#quiz {
    padding: 20px;
}

#quiz p {
    font-family: var(--primary-font);
    font-size: 1.2rem;
    padding-bottom: 10px;
}

.options {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.options button {
    padding: 10px;
    margin: 5px;
    font-size: 1rem;
    background-color: #381212;
    color: #fff;
    border: none;
    border-radius: 5px;
    transform-origin: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.options button:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color: #672e2e;
}

footer {
    background-color: var(--primary-color);
    color: #fff;
    text-align: center;
    padding: 20px;
    font-family: var(--main-font);
    font-size: 1rem;
}

body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

body.dark-mode a {
    color: white;
}

footer p {
    padding-bottom: 10px;
}

/* For the study tips page */

.study-tips h2, #featured-tips h2 {
    font-family: var(--main-font);
    padding: 10px 0;
    font-size: 1.8rem;
}

.study-tips {
    padding: 20px;
    background-color: rgb(177, 174, 174);
}

.study-tips li {
    padding: 6px 0;
    font-family: var(--primary-font);
    list-style-type: none;
    font-size: 1.2rem;
}

.study-tips a {
    font-size: 1rem;
    color: rgb(74, 4, 4);
}

#featured-tips {
    padding: 20px;
}

.tip-card h3 {
    font-family: var(--primary-font);
    color: #002E5D;
}

body.dark-mode .tip-card h3 {
    color: #fff;
}

body.dark-mode .study-tips {
    color: #000;
}

body.dark-mode .study-tips a {
    color: #000;
}

.tip-card {
    margin: 10px;
}

.tip-card p {
    font-family: var(--secondary-font);
}

.study-group {
    padding: 20px;
    background-color: rgb(177, 174, 174);
}

.study-group h2 {
    font-family: var(--main-font);
    padding: 10px 0;
    font-size: 1.8rem;
    text-align: center;
    padding-bottom: 20px;
}

body.dark-mode .study-group h2 {
    color: #000;
}

form {
    font-family: var(--secondary-font);
    display: flex;
    flex-direction: column;
}

form label {
    text-align: center;
    padding-top: 20px;
    font-size: 1.2rem;
}

input {
    padding: 20px;
    width: 24rem;
    margin: 0 auto;
    font-size: 1.2rem;
}

input[type="email"] {
    margin-bottom: 20px;
}

form button {
    width: 20rem;
    margin: 0 auto;
    padding: 10px;
    border-radius: 15px 300px;
    border: none;
    font-family: var(--main-font);
    font-size: 1.2rem;
    background-color: #381212;
    color: #fff;
}

body.dark-mode form {
    color: #000;
}

form button:hover {
    background-color: #672e2e;
    color: #fff;
    cursor: pointer;
    transform: scaleX(1);
}

#success-message {
    color: green;
    margin-top: 20px;
    display: none;
    font-family: var(--secondary-font);
    padding: 10px;
}

/* resources.html page */

#study-materials, #student-wellness {
    padding: 20px;
    border: 1px dotted #000;
    margin: 10px;
}

#study-materials h2, #campus-resources h2, 
#student-wellness h2, #financial-resources h2 {
    font-family: var(--main-font);
    padding: 10px 0;
    font-size: 1.8rem;
    color: #002E5D;
}

#study-materials p, #campus-resources p, 
#student-wellness p, #financial-resources p{
    font-family: var(--secondary-font);
    font-size: 1.2rem;
    padding: 0 0 10px;
}

#study-materials li, #campus-resources li, 
#student-wellness li, #financial-resources li {
    list-style-position: inside;
    font-family: var(--primary-font);
    padding: 5px;
}

#study-materials a, #student-wellness a {
    text-decoration: none;
}

#campus-resources, #financial-resources {
    padding: 20px;
    border: 1px dotted #000;
    margin: 10px;
    background-color: #381212;
    color: whitesmoke;
    border-radius: 5px;
}

#campus-resources h2, #financial-resources h2 {
    color: rgb(72, 255, 0)
}

#campus-resources a, #financial-resources a {
    text-decoration: none;
    color: rgb(72, 255, 0);
    font-size: 1.2rem;
    transform-origin: center;
}




