* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table {
    text-align: center;
    margin: 0 auto;
    border: 1px solid #5b5757;
    border-collapse: collapse;
}

caption {
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    caption-side: bottom;
}

.topic th {
    background-color: black;
    color: white;
    padding: 15px;
    font-size: 1.5rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

th, td {
    border: 0.2px solid #000000;
}

.header th, .blank{
    padding: 15px;
    font-size: 1.2rem;
    background-color: #5b5757;
    color: #fff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.blank {
    background-color: #000000;
}

tbody th, tbody td{
    padding: 7px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

tbody th {
    font-size: 1.2rem;
}

tbody td {
    font-size: 1.2rem;
}

tbody tr:nth-child(even) {
    background-color: rgba(205, 205, 205, 0.687);
}